.contact-modal {
  border-radius: 8px;
  background-color: $highlight-tertiary;
  width: 100%;
  max-width: 720px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: 64px auto;
  position: relative;
  animation: modal-open 400ms;
  display: none;

  &--active {
    display: flex;
  }

  &__container {
    display: none;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    &--active {
      display: block;
    }
  }

  &__overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
    margin-bottom: 32px;
  }

  &__close-icon {
    cursor: pointer;
    align-self: start;
    font-size: 48px;
  }

  &__title {
    @include typographies(header);
  }
}

@include mobile {
  .contact-modal {
    &__header {
      flex-direction: column;
    }

    &__close-icon {
      order: -1;
      align-self: end;
      top: 0;
    }
  }
}
