.media-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($media-card-width, 1fr));
  gap: 64px;
  row-gap: 32px;
  justify-items: center;
  margin: 32px 0 96px;

  &--first-loading .media-card {
    @include successive-fade-in;
  }
}

@include mobile {
  .media-section {
    grid-template-columns: repeat(auto-fit, minmax($media-card-width-mobile, 1fr));
  }
}
