.photographer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  background-color: $neutral-tertiary;
  height: 300px;
  padding: 0 48px;

  &__picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
}

@include tablet {
  .photographer-header {
    flex-direction: column;
    height: fit-content;
    padding: 48px 24px;

    &__picture {
      order: -1;
    }
  }
}
