.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

  &__data {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }

  &__label {
    @include typographies(subtitle);
    color: $neutral-primary;
  }

  &__input {
    @include typographies(subtitle);
    width: 100%;
    height: 64px;
    border: none;
    border-radius: 5px;
    padding: 16px;
    &--large {
        height: 170px;
        vertical-align: top;
    }
    &--wrong {
      border: 4px solid red;
      animation: fade-in-border 300ms;
    }
  }



&__error-message {
  @include typographies(body);
  color: $highlight-primary;
  display: none;

  &--active {
    display: block;
    animation: fade-in 300ms 100ms both;
  }
}
}
