.media-card {
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: transform 200ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &__picture {
    width: $media-card-width;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }

  &__infos {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    padding: 0 8px;
  }

  &__title {
    @include typographies(body);
    @include ellipsis(1);
    color: $highlight-primary;
  }

  &__like-wrapper {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &__likeCount {
    @include typographies(body);
    color: $highlight-primary;
  }

  &__likeIcon {
    font-size: 20px;
    color: $highlight-primary;
  }
}
