.photographer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  @include successive-fade-in;

  &__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover .photographer-card__name {
      color: $highlight-primary;
      transition: color 300ms ease-out;
    }
  }

  &__picture {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }

  &__name {
    color: $highlight-secondary;
    @include typographies(title);
    @include ellipsis(1);
  }

  &__location {
    @include typographies(card-body-big);
    color: $highlight-primary;
  }

  &__tagline {
    @include typographies(card-body-medium);
  }

  &__price {
    @include typographies(card-body-small);
    color: $neutral-primary;
  }
}
