@-webkit-keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-border {
  from {
    border-color: transparent;
  }
  to {
    border-color: red;
  }
}
@keyframes fade-in-border {
  from {
    border-color: transparent;
  }
  to {
    border-color: red;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 96px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 0px;
  }
}
.photographer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.photographer-card:nth-of-type(1) {
  -webkit-animation: fade-in 300ms 125ms ease-out both;
          animation: fade-in 300ms 125ms ease-out both;
}
.photographer-card:nth-of-type(2) {
  -webkit-animation: fade-in 300ms 250ms ease-out both;
          animation: fade-in 300ms 250ms ease-out both;
}
.photographer-card:nth-of-type(3) {
  -webkit-animation: fade-in 300ms 375ms ease-out both;
          animation: fade-in 300ms 375ms ease-out both;
}
.photographer-card:nth-of-type(4) {
  -webkit-animation: fade-in 300ms 500ms ease-out both;
          animation: fade-in 300ms 500ms ease-out both;
}
.photographer-card:nth-of-type(5) {
  -webkit-animation: fade-in 300ms 625ms ease-out both;
          animation: fade-in 300ms 625ms ease-out both;
}
.photographer-card:nth-of-type(6) {
  -webkit-animation: fade-in 300ms 750ms ease-out both;
          animation: fade-in 300ms 750ms ease-out both;
}
.photographer-card:nth-of-type(7) {
  -webkit-animation: fade-in 300ms 875ms ease-out both;
          animation: fade-in 300ms 875ms ease-out both;
}
.photographer-card:nth-of-type(8) {
  -webkit-animation: fade-in 300ms 1000ms ease-out both;
          animation: fade-in 300ms 1000ms ease-out both;
}
.photographer-card:nth-of-type(9) {
  -webkit-animation: fade-in 300ms 1125ms ease-out both;
          animation: fade-in 300ms 1125ms ease-out both;
}
.photographer-card:nth-of-type(10) {
  -webkit-animation: fade-in 300ms 1250ms ease-out both;
          animation: fade-in 300ms 1250ms ease-out both;
}
.photographer-card:nth-of-type(11) {
  -webkit-animation: fade-in 300ms 1375ms ease-out both;
          animation: fade-in 300ms 1375ms ease-out both;
}
.photographer-card:nth-of-type(12) {
  -webkit-animation: fade-in 300ms 1500ms ease-out both;
          animation: fade-in 300ms 1500ms ease-out both;
}
.photographer-card:nth-of-type(13) {
  -webkit-animation: fade-in 300ms 1625ms ease-out both;
          animation: fade-in 300ms 1625ms ease-out both;
}
.photographer-card:nth-of-type(14) {
  -webkit-animation: fade-in 300ms 1750ms ease-out both;
          animation: fade-in 300ms 1750ms ease-out both;
}
.photographer-card:nth-of-type(15) {
  -webkit-animation: fade-in 300ms 1875ms ease-out both;
          animation: fade-in 300ms 1875ms ease-out both;
}
.photographer-card:nth-of-type(16) {
  -webkit-animation: fade-in 300ms 2000ms ease-out both;
          animation: fade-in 300ms 2000ms ease-out both;
}
.photographer-card:nth-of-type(17) {
  -webkit-animation: fade-in 300ms 2125ms ease-out both;
          animation: fade-in 300ms 2125ms ease-out both;
}
.photographer-card:nth-of-type(18) {
  -webkit-animation: fade-in 300ms 2250ms ease-out both;
          animation: fade-in 300ms 2250ms ease-out both;
}
.photographer-card:nth-of-type(19) {
  -webkit-animation: fade-in 300ms 2375ms ease-out both;
          animation: fade-in 300ms 2375ms ease-out both;
}
.photographer-card:nth-of-type(20) {
  -webkit-animation: fade-in 300ms 2500ms ease-out both;
          animation: fade-in 300ms 2500ms ease-out both;
}
.photographer-card:nth-of-type(21) {
  -webkit-animation: fade-in 300ms 2625ms ease-out both;
          animation: fade-in 300ms 2625ms ease-out both;
}
.photographer-card:nth-of-type(22) {
  -webkit-animation: fade-in 300ms 2750ms ease-out both;
          animation: fade-in 300ms 2750ms ease-out both;
}
.photographer-card:nth-of-type(23) {
  -webkit-animation: fade-in 300ms 2875ms ease-out both;
          animation: fade-in 300ms 2875ms ease-out both;
}
.photographer-card:nth-of-type(24) {
  -webkit-animation: fade-in 300ms 3000ms ease-out both;
          animation: fade-in 300ms 3000ms ease-out both;
}
.photographer-card:nth-of-type(25) {
  -webkit-animation: fade-in 300ms 3125ms ease-out both;
          animation: fade-in 300ms 3125ms ease-out both;
}
.photographer-card:nth-of-type(26) {
  -webkit-animation: fade-in 300ms 3250ms ease-out both;
          animation: fade-in 300ms 3250ms ease-out both;
}
.photographer-card:nth-of-type(27) {
  -webkit-animation: fade-in 300ms 3375ms ease-out both;
          animation: fade-in 300ms 3375ms ease-out both;
}
.photographer-card:nth-of-type(28) {
  -webkit-animation: fade-in 300ms 3500ms ease-out both;
          animation: fade-in 300ms 3500ms ease-out both;
}
.photographer-card:nth-of-type(29) {
  -webkit-animation: fade-in 300ms 3625ms ease-out both;
          animation: fade-in 300ms 3625ms ease-out both;
}
.photographer-card:nth-of-type(30) {
  -webkit-animation: fade-in 300ms 3750ms ease-out both;
          animation: fade-in 300ms 3750ms ease-out both;
}
.photographer-card:nth-of-type(31) {
  -webkit-animation: fade-in 300ms 3875ms ease-out both;
          animation: fade-in 300ms 3875ms ease-out both;
}
.photographer-card:nth-of-type(32) {
  -webkit-animation: fade-in 300ms 4000ms ease-out both;
          animation: fade-in 300ms 4000ms ease-out both;
}
.photographer-card:nth-of-type(33) {
  -webkit-animation: fade-in 300ms 4125ms ease-out both;
          animation: fade-in 300ms 4125ms ease-out both;
}
.photographer-card:nth-of-type(34) {
  -webkit-animation: fade-in 300ms 4250ms ease-out both;
          animation: fade-in 300ms 4250ms ease-out both;
}
.photographer-card:nth-of-type(35) {
  -webkit-animation: fade-in 300ms 4375ms ease-out both;
          animation: fade-in 300ms 4375ms ease-out both;
}
.photographer-card:nth-of-type(36) {
  -webkit-animation: fade-in 300ms 4500ms ease-out both;
          animation: fade-in 300ms 4500ms ease-out both;
}
.photographer-card:nth-of-type(37) {
  -webkit-animation: fade-in 300ms 4625ms ease-out both;
          animation: fade-in 300ms 4625ms ease-out both;
}
.photographer-card:nth-of-type(38) {
  -webkit-animation: fade-in 300ms 4750ms ease-out both;
          animation: fade-in 300ms 4750ms ease-out both;
}
.photographer-card:nth-of-type(39) {
  -webkit-animation: fade-in 300ms 4875ms ease-out both;
          animation: fade-in 300ms 4875ms ease-out both;
}
.photographer-card:nth-of-type(40) {
  -webkit-animation: fade-in 300ms 5000ms ease-out both;
          animation: fade-in 300ms 5000ms ease-out both;
}
.photographer-card:nth-of-type(41) {
  -webkit-animation: fade-in 300ms 5125ms ease-out both;
          animation: fade-in 300ms 5125ms ease-out both;
}
.photographer-card:nth-of-type(42) {
  -webkit-animation: fade-in 300ms 5250ms ease-out both;
          animation: fade-in 300ms 5250ms ease-out both;
}
.photographer-card:nth-of-type(43) {
  -webkit-animation: fade-in 300ms 5375ms ease-out both;
          animation: fade-in 300ms 5375ms ease-out both;
}
.photographer-card:nth-of-type(44) {
  -webkit-animation: fade-in 300ms 5500ms ease-out both;
          animation: fade-in 300ms 5500ms ease-out both;
}
.photographer-card:nth-of-type(45) {
  -webkit-animation: fade-in 300ms 5625ms ease-out both;
          animation: fade-in 300ms 5625ms ease-out both;
}
.photographer-card:nth-of-type(46) {
  -webkit-animation: fade-in 300ms 5750ms ease-out both;
          animation: fade-in 300ms 5750ms ease-out both;
}
.photographer-card:nth-of-type(47) {
  -webkit-animation: fade-in 300ms 5875ms ease-out both;
          animation: fade-in 300ms 5875ms ease-out both;
}
.photographer-card:nth-of-type(48) {
  -webkit-animation: fade-in 300ms 6000ms ease-out both;
          animation: fade-in 300ms 6000ms ease-out both;
}
.photographer-card:nth-of-type(49) {
  -webkit-animation: fade-in 300ms 6125ms ease-out both;
          animation: fade-in 300ms 6125ms ease-out both;
}
.photographer-card__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer-card__link:hover .photographer-card__name {
  color: #901c1c;
  transition: color 300ms ease-out;
}
.photographer-card__picture {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.photographer-card__name {
  color: #d3573c;
  font-family: DM Sans, sans-serif;
  font-size: 36px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.photographer-card__location {
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #901c1c;
}
.photographer-card__tagline {
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.photographer-card__price {
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #312e2e;
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  min-width: 170px;
  height: 70px;
  min-height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 125ms ease-in-out;
}
.contact-button:hover {
  background-color: #d3573c;
}

.submit-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  min-width: 170px;
  height: 70px;
  min-height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 125ms ease-in-out;
}
.submit-button:hover {
  background-color: #d3573c;
}

.photographer-infos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.photographer-infos__name {
  color: #d3573c;
  font-family: DM Sans, sans-serif;
  font-size: 44px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.photographer-infos__location {
  color: #901c1c;
  font-family: DM Sans, sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.photographer-infos__tagline {
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1024px) {
  .photographer-infos {
    align-items: center;
  }
  .photographer-infos__name, .photographer-infos__location, .photographer-infos__tagline {
    text-align: center;
  }
}
.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.form__data {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.form__label {
  font-family: DM Sans, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #312e2e;
}
.form__input {
  font-family: DM Sans, sans-serif;
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  height: 64px;
  border: none;
  border-radius: 5px;
  padding: 16px;
}
.form__input--large {
  height: 170px;
  vertical-align: top;
}
.form__input--wrong {
  border: 4px solid red;
  -webkit-animation: fade-in-border 300ms;
          animation: fade-in-border 300ms;
}
.form__error-message {
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #901c1c;
  display: none;
}
.form__error-message--active {
  display: block;
  -webkit-animation: fade-in 300ms 100ms both;
          animation: fade-in 300ms 100ms both;
}

.form-confirmation {
  background-color: #db8876;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  margin: 20vh auto;
  border-radius: 8px;
  padding: 32px;
  position: relative;
  z-index: 300;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  gap: 32px;
}
.form-confirmation--active {
  display: flex;
  -webkit-animation: fade-in-up 400ms both;
          animation: fade-in-up 400ms both;
}
.form-confirmation__text {
  font-family: DM Sans, sans-serif;
  font-size: 44px;
  font-weight: 400;
  text-align: center;
}
.form-confirmation__close-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  min-width: 170px;
  height: 70px;
  min-height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 125ms ease-in-out;
}
.form-confirmation__close-button:hover {
  background-color: #d3573c;
}

@media screen and (max-width: 768px) {
  .form-confirmation__text {
    font-family: DM Sans, sans-serif;
    font-size: 36px;
    font-weight: 400;
  }
}
.media-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.media-card__picture {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  transform-origin: 50% 0%;
}
.media-card__picture:hover {
  transform: scaleX(1.05) scaleY(1.05);
}
.media-card__picture:hover + .media-card__infos {
  opacity: 0;
}
.media-card__infos {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  padding: 0 8px;
  transition: opacity 200ms ease-in-out;
}
.media-card__title {
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #901c1c;
}
.media-card__like-container {
  display: flex;
  gap: 4px;
  align-items: center;
}
.media-card__like-container--liked .media-card__like-icon, .media-card__like-container--liked .media-card__like-count {
  color: #d3573c;
}
.media-card__like-count {
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #901c1c;
}
.media-card__like-icon {
  font-size: 20px;
  color: #901c1c;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .media-card {
    width: 300px;
  }
  .media-card__picture {
    width: 300px;
    height: 260px;
  }
}
.media-sorter {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  height: 55px;
  position: relative;
  z-index: 100;
}
.media-sorter__label {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  top: 16px;
}
.media-sorter__selector-container {
  width: 170px;
  height: 55px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.media-sorter__selector-container:hover .media-sorter__sort-button {
  background-color: #d3573c;
}
.media-sorter__selector-container--active {
  transition: height 200ms ease-out;
  height: 165.6px;
}
.media-sorter__chevron {
  position: absolute;
  z-index: 110;
  top: 18px;
  right: 16px;
  color: white;
}
.media-sorter__chevron--active {
  transform: rotate(180deg);
}
.media-sorter__sort-button {
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: #901c1c;
  color: white;
  border: none;
  width: 100%;
  padding: 16px;
  text-align: start;
  cursor: pointer;
  display: none;
  transition: background-color 125ms ease-in-out;
}
.media-sorter__sort-button--active {
  display: block;
}
.media-sorter__dropdown-menu {
  width: 100%;
  display: none;
}
.media-sorter__dropdown-menu--active {
  display: block;
}
.media-sorter__dropdown-menu__list {
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: #901c1c;
  color: white;
  list-style: none;
}
.media-sorter__dropdown-menu__list-item {
  padding: 16px;
  position: relative;
  transition: background-color 125ms ease-in-out;
}
.media-sorter__dropdown-menu__list-item:hover {
  background-color: #d3573c;
}
.media-sorter__dropdown-menu__list-item:not(:last-child)::after {
  content: "";
  width: 80%;
  height: 2px;
  background: white;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 10%;
}

@media screen and (max-width: 768px) {
  .media-sorter {
    justify-content: center;
  }
}
.sticky-bar {
  width: 376px;
  padding: 16px 32px;
  background-color: #db8876;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0 0;
  position: fixed;
  bottom: 0;
  right: 96px;
  z-index: 120;
}
.sticky-bar__like-container {
  display: flex;
  align-items: center;
  gap: 4px;
}
.sticky-bar__like-count {
  font-family: DM Sans, sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.sticky-bar__like-icon {
  font-size: 18px;
}
.sticky-bar__price {
  font-family: DM Sans, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .sticky-bar {
    max-width: 100%;
    padding: 16px 16px;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
.lightbox {
  height: 90vh;
  width: calc(90vw - 192px);
  margin: 5vh auto;
  border-radius: 8px;
  background-color: white;
  flex-direction: column;
  padding: 16px 5vh;
  position: relative;
  display: flex;
  gap: 8px;
}
.lightbox__container {
  display: none;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 150;
}
.lightbox__container--active {
  display: block;
}
.lightbox__overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}
.lightbox__media-selector {
  height: 0;
  flex: 1 1 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.lightbox__media-container {
  width: 0;
  flex: 1 1 0px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.lightbox__media {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  -webkit-animation: fade-in 200ms ease-in-out both;
          animation: fade-in 200ms ease-in-out both;
}
.lightbox__close-icon {
  font-size: 36px;
  align-self: end;
  cursor: pointer;
  color: #901c1c;
  position: absolute;
}
.lightbox__next-button, .lightbox__previous-button {
  font-size: 36px;
  cursor: pointer;
  color: #901c1c;
}
.lightbox__title {
  font-family: DM Sans, sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #901c1c;
}

@media screen and (max-width: 1024px) {
  .lightbox {
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 0px;
    padding: 16px 8px;
  }
  .lightbox__media-selector {
    gap: 4px;
  }
  .lightbox__title {
    text-align: center;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}
.header__title {
  color: #901c1c;
  font-family: DM Sans, sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.header__logo {
  height: 50px;
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: 32px;
    flex-direction: column;
  }
  .header__title {
    text-align: center;
  }
}
.photographer-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  justify-items: center;
  gap: 72px;
  margin: 96px 0;
}

.contact-modal {
  border-radius: 8px;
  background-color: #db8876;
  width: 100%;
  max-width: 720px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: 64px auto;
  position: relative;
  -webkit-animation: fade-in-up 400ms;
          animation: fade-in-up 400ms;
  display: none;
}
.contact-modal--active {
  display: flex;
}
.contact-modal__container {
  display: none;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
}
.contact-modal__container--active {
  display: block;
}
.contact-modal__overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}
.contact-modal__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
  margin-bottom: 32px;
}
.contact-modal__close-icon {
  cursor: pointer;
  align-self: start;
  font-size: 48px;
}
.contact-modal__title {
  font-family: DM Sans, sans-serif;
  font-size: 44px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .contact-modal__header {
    flex-direction: column;
  }
  .contact-modal__close-icon {
    order: -1;
    align-self: end;
    top: 0;
  }
  .contact-modal__title {
    font-family: DM Sans, sans-serif;
    font-size: 36px;
    font-weight: 400;
  }
}
.photographer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  background-color: #fafafa;
  height: 300px;
  padding: 0 48px;
}
.photographer-header__picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .photographer-header {
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 48px 24px;
  }
  .photographer-header__picture {
    order: -1;
  }
}
.media-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 64px;
  row-gap: 32px;
  justify-items: center;
  margin: 32px 0 96px;
}
.media-section--first-loading .media-card:nth-of-type(1) {
  -webkit-animation: fade-in 300ms 125ms ease-out both;
          animation: fade-in 300ms 125ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(2) {
  -webkit-animation: fade-in 300ms 250ms ease-out both;
          animation: fade-in 300ms 250ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(3) {
  -webkit-animation: fade-in 300ms 375ms ease-out both;
          animation: fade-in 300ms 375ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(4) {
  -webkit-animation: fade-in 300ms 500ms ease-out both;
          animation: fade-in 300ms 500ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(5) {
  -webkit-animation: fade-in 300ms 625ms ease-out both;
          animation: fade-in 300ms 625ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(6) {
  -webkit-animation: fade-in 300ms 750ms ease-out both;
          animation: fade-in 300ms 750ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(7) {
  -webkit-animation: fade-in 300ms 875ms ease-out both;
          animation: fade-in 300ms 875ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(8) {
  -webkit-animation: fade-in 300ms 1000ms ease-out both;
          animation: fade-in 300ms 1000ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(9) {
  -webkit-animation: fade-in 300ms 1125ms ease-out both;
          animation: fade-in 300ms 1125ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(10) {
  -webkit-animation: fade-in 300ms 1250ms ease-out both;
          animation: fade-in 300ms 1250ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(11) {
  -webkit-animation: fade-in 300ms 1375ms ease-out both;
          animation: fade-in 300ms 1375ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(12) {
  -webkit-animation: fade-in 300ms 1500ms ease-out both;
          animation: fade-in 300ms 1500ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(13) {
  -webkit-animation: fade-in 300ms 1625ms ease-out both;
          animation: fade-in 300ms 1625ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(14) {
  -webkit-animation: fade-in 300ms 1750ms ease-out both;
          animation: fade-in 300ms 1750ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(15) {
  -webkit-animation: fade-in 300ms 1875ms ease-out both;
          animation: fade-in 300ms 1875ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(16) {
  -webkit-animation: fade-in 300ms 2000ms ease-out both;
          animation: fade-in 300ms 2000ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(17) {
  -webkit-animation: fade-in 300ms 2125ms ease-out both;
          animation: fade-in 300ms 2125ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(18) {
  -webkit-animation: fade-in 300ms 2250ms ease-out both;
          animation: fade-in 300ms 2250ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(19) {
  -webkit-animation: fade-in 300ms 2375ms ease-out both;
          animation: fade-in 300ms 2375ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(20) {
  -webkit-animation: fade-in 300ms 2500ms ease-out both;
          animation: fade-in 300ms 2500ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(21) {
  -webkit-animation: fade-in 300ms 2625ms ease-out both;
          animation: fade-in 300ms 2625ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(22) {
  -webkit-animation: fade-in 300ms 2750ms ease-out both;
          animation: fade-in 300ms 2750ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(23) {
  -webkit-animation: fade-in 300ms 2875ms ease-out both;
          animation: fade-in 300ms 2875ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(24) {
  -webkit-animation: fade-in 300ms 3000ms ease-out both;
          animation: fade-in 300ms 3000ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(25) {
  -webkit-animation: fade-in 300ms 3125ms ease-out both;
          animation: fade-in 300ms 3125ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(26) {
  -webkit-animation: fade-in 300ms 3250ms ease-out both;
          animation: fade-in 300ms 3250ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(27) {
  -webkit-animation: fade-in 300ms 3375ms ease-out both;
          animation: fade-in 300ms 3375ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(28) {
  -webkit-animation: fade-in 300ms 3500ms ease-out both;
          animation: fade-in 300ms 3500ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(29) {
  -webkit-animation: fade-in 300ms 3625ms ease-out both;
          animation: fade-in 300ms 3625ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(30) {
  -webkit-animation: fade-in 300ms 3750ms ease-out both;
          animation: fade-in 300ms 3750ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(31) {
  -webkit-animation: fade-in 300ms 3875ms ease-out both;
          animation: fade-in 300ms 3875ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(32) {
  -webkit-animation: fade-in 300ms 4000ms ease-out both;
          animation: fade-in 300ms 4000ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(33) {
  -webkit-animation: fade-in 300ms 4125ms ease-out both;
          animation: fade-in 300ms 4125ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(34) {
  -webkit-animation: fade-in 300ms 4250ms ease-out both;
          animation: fade-in 300ms 4250ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(35) {
  -webkit-animation: fade-in 300ms 4375ms ease-out both;
          animation: fade-in 300ms 4375ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(36) {
  -webkit-animation: fade-in 300ms 4500ms ease-out both;
          animation: fade-in 300ms 4500ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(37) {
  -webkit-animation: fade-in 300ms 4625ms ease-out both;
          animation: fade-in 300ms 4625ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(38) {
  -webkit-animation: fade-in 300ms 4750ms ease-out both;
          animation: fade-in 300ms 4750ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(39) {
  -webkit-animation: fade-in 300ms 4875ms ease-out both;
          animation: fade-in 300ms 4875ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(40) {
  -webkit-animation: fade-in 300ms 5000ms ease-out both;
          animation: fade-in 300ms 5000ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(41) {
  -webkit-animation: fade-in 300ms 5125ms ease-out both;
          animation: fade-in 300ms 5125ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(42) {
  -webkit-animation: fade-in 300ms 5250ms ease-out both;
          animation: fade-in 300ms 5250ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(43) {
  -webkit-animation: fade-in 300ms 5375ms ease-out both;
          animation: fade-in 300ms 5375ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(44) {
  -webkit-animation: fade-in 300ms 5500ms ease-out both;
          animation: fade-in 300ms 5500ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(45) {
  -webkit-animation: fade-in 300ms 5625ms ease-out both;
          animation: fade-in 300ms 5625ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(46) {
  -webkit-animation: fade-in 300ms 5750ms ease-out both;
          animation: fade-in 300ms 5750ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(47) {
  -webkit-animation: fade-in 300ms 5875ms ease-out both;
          animation: fade-in 300ms 5875ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(48) {
  -webkit-animation: fade-in 300ms 6000ms ease-out both;
          animation: fade-in 300ms 6000ms ease-out both;
}
.media-section--first-loading .media-card:nth-of-type(49) {
  -webkit-animation: fade-in 300ms 6125ms ease-out both;
          animation: fade-in 300ms 6125ms ease-out both;
}

@media screen and (max-width: 768px) {
  .media-section {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}/*# sourceMappingURL=main.css.map */