* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 96px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 0px;
  }
}
.photographerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.photographerCard__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographerCard__picture {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.photographerCard__name {
  color: #d3573c;
  font-family: DM Sans, sans-serif;
  font-size: 36px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.photographerCard__location {
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #901c1c;
}
.photographerCard__tagline {
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.photographerCard__price {
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #312e2e;
}

.contactButton {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  min-width: 170px;
  height: 70px;
  min-height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  min-width: 170px;
  height: 70px;
  min-height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.photographerInfos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.photographerInfos__name {
  color: #d3573c;
  font-family: DM Sans, sans-serif;
  font-size: 44px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.photographerInfos__location {
  color: #901c1c;
  font-family: DM Sans, sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.photographerInfos__tagline {
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1024px) {
  .photographerInfos {
    align-items: center;
  }
  .photographerInfos__name, .photographerInfos__location, .photographerInfos__tagline {
    text-align: center;
  }
}
.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.form__data {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
.form__label {
  font-family: DM Sans, sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #312e2e;
}
.form__input {
  font-family: DM Sans, sans-serif;
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  padding: 16px;
}
.form__input--large {
  height: 170px;
  vertical-align: top;
}

.mediaCard {
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: transform 200ms ease-in-out;
}
.mediaCard:hover {
  transform: scale(1.05);
}
.mediaCard__picture {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.mediaCard__infos {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  padding: 0 8px;
}
.mediaCard__title {
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #901c1c;
}
.mediaCard__likeWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}
.mediaCard__likeCount {
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #901c1c;
}
.mediaCard__likeIcon {
  font-size: 20px;
  color: #901c1c;
}

.mediaSorter {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  height: 55px;
  position: relative;
  z-index: 100;
}
.mediaSorter__label {
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  top: 16px;
}
.mediaSorter__selectorContainer {
  width: 170px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.mediaSorter__selectorContainer:hover .mediaSorter__sortButton {
  background-color: #d3573c;
}
.mediaSorter__chevron {
  position: absolute;
  z-index: 110;
  top: 18px;
  right: 16px;
  color: white;
}
.mediaSorter__chevron--active {
  transform: rotate(180deg);
}
.mediaSorter__sortButton {
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: #901c1c;
  color: white;
  border: none;
  width: 100%;
  padding: 16px;
  text-align: start;
  cursor: pointer;
  display: none;
}
.mediaSorter__sortButton--active {
  display: block;
}
.mediaSorter__dropdownMenu {
  width: 100%;
  display: none;
}
.mediaSorter__dropdownMenu--active {
  display: block;
}
.mediaSorter__dropdownMenu__list {
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: #901c1c;
  color: white;
  list-style: none;
}
.mediaSorter__dropdownMenu__listItem {
  padding: 16px;
  position: relative;
}
.mediaSorter__dropdownMenu__listItem:hover {
  background-color: #d3573c;
}
.mediaSorter__dropdownMenu__listItem:not(:last-child)::after {
  content: "";
  width: 80%;
  height: 2px;
  background: white;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 10%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}
.header__title {
  color: #901c1c;
  font-family: DM Sans, sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.header__logo {
  height: 50px;
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: 32px;
    flex-direction: column;
  }
  .header__title {
    text-align: center;
  }
}
.photographerSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  justify-items: center;
  gap: 72px;
  margin: 96px 0;
}

.contactModal {
  border-radius: 5px;
  background-color: #db8876;
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: 64px auto;
  position: relative;
  z-index: 210;
}
.contactModal__wrapper {
  display: none;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.contactModal__wrapper--active {
  display: block;
}
.contactModal__overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.5);
}
.contactModal__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
  margin-bottom: 32px;
}
.contactModal__closeButton {
  cursor: pointer;
  align-self: start;
  position: relative;
  top: 20px;
}
.contactModal__title {
  font-family: DM Sans, sans-serif;
  font-size: 44px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .contactModal__header {
    flex-direction: column;
  }
  .contactModal__closeButton {
    order: -1;
    align-self: end;
    top: 0;
  }
}
.photographerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  background-color: #fafafa;
  height: 300px;
  padding: 0 48px;
}
.photographerHeader__picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .photographerHeader {
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 48px 24px;
  }
  .photographerHeader__picture {
    order: -1;
  }
}
.mediaSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 64px;
  row-gap: 32px;
  justify-items: center;
  margin: 32px 0;
}/*# sourceMappingURL=main.css.map */